<!-- firts page three news -->

<div>
  <div>
    <div class="container-fluid">
      <div class="row h-30">
        <div class="col-sm-6" style="background-color:lavender;">
          <div class="w-6 p-3">
              <a href="{{ arts[0].url }}"><img class="img-fluid mx-auto d-block" width="600" alt="thumbnail"
              [src]="arts[0].multimedia[4].url"></a>
            <a href="{{ arts[0].url }}"><h6>{{ arts[0].title }}</h6></a>
            <p>{{ arts[0].abstract }}</p>
          </div>
        </div>
        <div class="col-sm-3" style="background-color:lavenderblush;">
          <div>
            <a href="{{ arts[1].url }}"><img class="img-fluid mx-auto d-block" width="300" alt="thumbnail"
              [src]="arts[1].multimedia[4].url"></a>
            <a href="{{ arts[1].url }}"><h6>{{ arts[1].title }}</h6></a>
            <p>{{ arts[1].abstract }}</p>
          </div>
        </div>
        <div class="col-sm-3" style="background-color:lavender;">
          <div class="row">
            <div>
              <a href="{{ arts[2].url }}"><h5>{{ arts[2].title }}</h5></a>
              <a href="{{ arts[2] }}"><img class="rounded float-right img-fluid mx-auto d-block" width="100" alt="thumbnail" 
                [src]="arts[2].multimedia[4].url"></a> 
              <p>{{ arts[2].abstract }}</p>
            </div>
          </div>
          <div class="row">
            <div>
              <a href="{{ arts[3].url }}"><h3>{{ arts[3].title }}</h3></a>
              <a href="{{ arts[3].url }}"><img class="rounded float-right img-fluid mx-auto d-block" width="100" alt="thumbnail"
                [src]="arts[3].multimedia[4].url"></a>
              <p>{{ arts[3].abstract }}</p>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>


<!-- carousel with other 6 news  -->
<app-multilist-carousel></app-multilist-carousel>



<!-- <div *ngFor="let art of arts | slice:0:9">
    <h3>{{ art.subsection }}</h3>
    <p>{{ art.title }}</p>
    <img width="200" alt="thumbnail" [src]="art.multimedia[2].url">
    <p>{{ art.abstract }}</p>
  </div>  -->