<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6" style="background-color:lavender;">
      <img width="600" alt="thumbnail" [src]="arts.results[0].multimedia[4].url">
      <h5>{{ arts.results[0].title }}</h5>
      <p>{{ arts.results[0].abstract }}</p>
    </div>
    <div class="col-sm-3" style="background-color:lavenderblush;">
      <div>
        <img width="300" alt="thumbnail" [src]="arts.results[1].multimedia[3].url">
        <h5>{{ arts.results[1].title }}</h5>
        <p>{{ arts.results[0].abstract }}</p>
      </div>
    </div>
    <div class="col-sm-2" style="background-color:lavender;">
      <div>
        <img width="100" alt="thumbnail" [src]="arts.results[2].multimedia[1].url">
        <h5>{{ arts.results[2].title }}</h5>
        <p>{{ arts.results[0].abstract }}</p>
      </div>
    </div>
  </div>
</div>

<div>
  <h3>{{ arts.results[3].title }}</h3>
  <img width="300" alt="thumbnail" [src]="arts.results[3].multimedia[3].url">
  <p>{{ arts.results[0].abstract }}</p>
</div>

<div>
  <h3>{{ arts.results[4].title }}</h3>
  <img width="400" alt="thumbnail" [src]="arts.results[4].multimedia[3].url">
  <p>{{ arts.results[0].abstract }}</p>
</div>

<div>
  <h3>{{ arts.results[5].title }}</h3>
  <img width="300" alt="thumbnail" [src]="arts.results[5].multimedia[3].url">
  <p>{{ arts.results[0].abstract }}</p>
</div>

<div>
  <h3>{{ arts.results[6].title }}</h3>
  <img width="400" alt="thumbnail" [src]="arts.results[6].multimedia[3].url">
  <p>{{ arts.results[0].abstract }}</p>
</div>

<div>
  <h3>{{ arts.results[7].title }}</h3>
  <img width="400" alt="thumbnail" [src]="arts.results[7].multimedia[3].url">
  <p>{{ arts.results[0].abstract }}</p>
</div>

<!-- <div *ngFor="let art of arts | slice:0:9">
    <h3>{{ art.subsection }}</h3>
    <p>{{ art.title }}</p>
    <img width="200" alt="thumbnail" [src]="art.multimedia[2].url">
    <p>{{ art.abstract }}</p>
  </div> -->