<!-- <p>{{ arts[0].title }}</p> -->
<h1>Art and Design</h1>
<!-- <p>{{ (arts | filter : {'subsection':'Television'})[0].title }}</p> -->


              
<div>
  <div>
    <div class="container-fluid">
      <div class="row h-30">
        <div class="col-sm-6" style="background-color:lightgray;">
          <div class="w-6 p-3">
            <a href="{{artAndDesign[0].url}}"><img class="img-fluid mx-auto d-block" style="max-height:300px;max-width:600px;overflow: hidden;" alt="thumbnail"
              [src]="artAndDesign[0].multimedia[4].url"></a>
            <h6>{{ artAndDesign[0].title }}</h6>
            <p>{{ artAndDesign[0].abstract }}</p>
          </div>
        </div>
        <div class="col-sm-3" style="background-color:lightgray;">
          <div>
            <a href="{{artAndDesign[0].url}}"><img class="img-fluid mx-auto d-block" width="300" alt="thumbnail"
              [src]="artAndDesign[1].multimedia[4].url"></a>
            <h6>{{ artAndDesign[1].title }}</h6>
            <p>{{ artAndDesign[1].abstract }}</p>
          </div>
        </div>
        <div class="col-sm-3" style="background-color:lightgray;">
          <div class="row">
            <div>
              <h5>{{ artAndDesign[2].title }}</h5>
              <a href="{{artAndDesign[0].url}}"><img class="rounded float-right img-fluid mx-auto d-block" width="100" alt="thumbnail"
                [src]="artAndDesign[2].multimedia[4].url"></a>
              <p>{{ artAndDesign[2].abstract }}</p>
            </div>
          </div>
          <div class="row">
            <div>
              <h3>{{ artAndDesign[3].title }}</h3>
              <a href="{{artAndDesign[0].url}}"><img class="rounded float-right img-fluid mx-auto d-block" width="100" alt="thumbnail"
                [src]="artAndDesign[3].multimedia[4].url"></a>
              <p>{{ artAndDesign[3].abstract }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>