<!-- navigation bar to fix -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Dropdown link
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <nav class="navbar navbar-light bg-light float right">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#Home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Log in</a>
      </li>
    </ul>
  </div>
</nav>
<h1 class="text-center" id="new-leo"><a routerLink="/arts" routerLinkActive="active">The New Leo Times</a></h1>
<h1>Arts</h1>
<!-- <h1>{{ subSection}}</h1> 
<h1>{{ content}}</h1> -->

<!-- ordered list with subsections buttons link -->

<ol class="list-group list-group-horizontal">
  <li class="list-group-item"><a routerLink="/art-and-design" routerLinkActive="active">Art & Design</a></li>
  <li class="list-group-item"><a routerLink="/books" routerLinkActive="active">Books</a></li>
  <li class="list-group-item"><button (click)="setSubSection()">Dance</button></li>
  <li class="list-group-item"><button (click)="setHello()">Movies</button></li>
  <li class="list-group-item"><a routerLink="/music" routerLinkActive="active">Music</a></li>
  <li class="list-group-item"><a routerLink="/television" routerLinkActive="active">Television</a></li>
  <li class="list-group-item">Theater</li>
  <li class="list-group-item">Pop Culture</li>
  <li class="list-group-item">Watching</li>
</ol>