
<div>
  <div>
    <div class="container-fluid">
      <div class="row h-30">
        <div class="col-sm-6" style="background-color:lightgray;">
          <div class="w-6 p-3">
            <a href="{{music[0].url}}"><img class="img-fluid mx-auto d-block" style="max-height:300px;max-width:600px;overflow: hidden;" alt="thumbnail"
              [src]="music[0].multimedia[4].url"></a>
            <a href="{{music[0].url}}"><h6>{{ music[0].title }}</h6></a>
            <p>{{ music[0].abstract }}</p>
          </div>
        </div>
        <div class="col-sm-3" style="background-color:lightgray;">
          <div>
            <a href="{{music[1].url}}"><img class="img-fluid mx-auto d-block" width="300" alt="thumbnail"
              [src]="music[1].multimedia[4].url"></a>
              <a href="{{music[1].url}}"><h6>{{ music[1].title }}</h6></a>
            <p>{{ music[1].abstract }}</p>
          </div>
        </div>
        <div class="col-sm-3" style="background-color:lightgray;">
          <div class="row">
            <div>
              <a href="{{music[2].url}}"><h6>{{ music[2].title }}</h6></a>
              <a href="{{music[2].url}}"><img class="rounded float-right img-fluid mx-auto d-block" width="100" alt="thumbnail"
                [src]="music[2].multimedia[4].url"></a>
              <p>{{ music[2].abstract }}</p>
            </div>
          </div>
          <div class="row">
            <div>
              <a href="{{music[3].url}}"><h6>{{ music[3].title }}</h6></a>
              <a href="{{music[3].url}}"><img class="rounded float-right img-fluid mx-auto d-block" width="100" alt="thumbnail"
                [src]="music[3].multimedia[4].url"></a>
              <p>{{ music[3].abstract }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>