<div id="demo" class="carousel slide carousel-multi-item h-100 justify-content-center align-items-center"
  data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <!-- <li data-target="#demo" data-slide-to="1"></li> -->

  </ul>

  <!-- The slideshow 1-->
  <div class="container carousel-inner no-padding">
    <div class="carousel-item active">
      <div class="row">
        <div class="col col1 col-lg-1-5">
          <div class="card-container">
            <div class="card">
              <div class="img"><img class="img-fluid mx-auto d-block" width="600" alt="thumbnail"
                  [src]="arts.results[4].multimedia[4].url"></div>
              <div class="title">{{ arts.results[4].title }}</div>
            </div>
          </div>
        </div>
        <div class="col col2 col-lg-1-5">
          <div class="card-container">
            <div class="card">
              <div class="img"><img class="img-fluid mx-auto d-block" width="600" alt="thumbnail"
                  [src]="arts.results[5].multimedia[4].url"></div>
              <div class="title">{{ arts.results[5].title }}</div>
            </div>
          </div>
        </div>
        <div class="col col3 col-lg-1-5">
          <div class="card-container">
            <div class="card">
              <div class="img"><img class="img-fluid mx-auto d-block" width="600" alt="thumbnail"
                  [src]="arts.results[6].multimedia[4].url"></div>
              <div class="title">{{ arts.results[6].title }}</div>
            </div>
          </div>
        </div>
        <div class="col col4 col-lg-1-5">
          <div class="card-container">
            <div class="card">
              <div class="img"><img class="img-fluid mx-auto d-block" width="600" alt="thumbnail"
                  [src]="arts.results[7].multimedia[4].url"></div>
              <div class="title">{{ arts.results[7].title }}</div>
            </div>
          </div>
        </div>
        <div class="col col5 col-lg-1-5">
          <div class="card-container">
            <div class="card">
              <div class="img"><img class="img-fluid mx-auto d-block" width="600" alt="thumbnail"
                  [src]="arts.results[8].multimedia[4].url"></div>
              <div class="title">{{ arts.results[8].title }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- The slideshow 2-->
    <div class="carousel-item">
      <div class="row">
        <div class="col col1 col-lg-1-5">
          <div class="card-container">
            <div class="card">
              <div class="img"><img class="img-fluid mx-auto d-block" width="600" alt="thumbnail"
                  [src]="arts.results[9].multimedia[4].url"></div>
              <div class="title">{{ arts.results[9].title }}</div>
            </div>
          </div>
        </div>
        <div class="col col2 col-lg-1-5">
          <div class="card-container">
            <div class="card">
              <div class="img"><img class="img-fluid mx-auto d-block" width="600" alt="thumbnail"
                  [src]="arts.results[10].multimedia[4].url"></div>
              <div class="title">{{ arts.results[10].title }}</div>
            </div>
          </div>
        </div>
        <div class="col col3 col-lg-1-5">
          <div class="card-container">
            <div class="card">
              <div class="img"><img class="img-fluid mx-auto d-block" width="600" alt="thumbnail"
                  [src]="arts.results[11].multimedia[4].url"></div>
              <div class="title">{{ arts.results[11].title }}</div>
            </div>
          </div>
        </div>
        <div class="col col4 col-lg-1-5">
          <div class="card-container">
            <div class="card">
              <div class="img"><img class="img-fluid mx-auto d-block" width="600" alt="thumbnail"
                  [src]="arts.results[12].multimedia[4].url"></div>
              <div class="title">{{ arts.results[12].title }}</div>
            </div>
          </div>
        </div>
        <div class="col col5 col-lg-1-5">
          <div class="card-container">
            <div class="card">
              <div class="img"><img class="img-fluid mx-auto d-block" width="600" alt="thumbnail"
                  [src]="arts.results[13].multimedia[4].url"></div>
              <div class="title">{{ arts.results[13].title }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>


